@model FoodDetailModel

<div class="row">
    <div class="col-md-3">
        <img style="width:275px; height:300px;" src="~/img/@Model.Food.ImageUrl" class="img-fluid" alt="Alternate Text" />
    </div>
    <div class="col-md-9">
        <h1 style="color:#bdc3c7;" class="mb-3">@Model.Food.FoodName</h1>
        <hr style="color: #bdc3c7" />
        @foreach (var item in Model.Categories)
        {
<a style="text-decoration: none; color:#bdc3c7" asp-controller="DurkayaRecipe"
   asp-action="List"
   asp-route-category="@item.Url"
   class="btn btn-link p-0 mb-3">@item.CategoryName </a>}
        <div class="mb-3 col-md-5">
            <div style="background-color: #bdc3c7" class="mb-3">
                <h6>Materials:</h6>
                <p>@Model.Food.FoodMaterial</p>
                <hr />
                <h6>Description:</h6>
                <p>@Model.Food.FoodDescription</p>
            </div>
        </div>
    </div>
    <a style="background-color:#bdc3c7; width:100px;" href="~/Home/Index" class="btn">Back</a>
</div>
